//hack: temporarily redeclare navbar-height here
$navbar-height: 70px;

.top-section {
  min-height: 200px + $navbar-height;
  margin-top: -1 * $navbar-height;
  background: image-url("background-image.jpg");
  background-size: cover;
  color: white;

  > .container,
  > .container > div
  { min-height: inherit; }

  .pull-right,
  .pull-left {
    position: absolute;
    bottom: 0;
  }

  .pull-right { right: 0; }

}
.bottom-section { }
