.top-section {
  min-height: 240px;
  background: image-url("background-image.jpg");
  background-size: cover;
  color: white;

  > .container,
  > .container > div
  { min-height: inherit; }

  .pull-right,
  .pull-left {
    position: absolute;
    bottom: 0;
  }

  .pull-right { right: 0; }

}
.bottom-section { }
