h1 Edit Bootcamp

= render partial: 'form'

= simple_form_for :bootcamp, url: bootcamp_path(@bootcamp), method: :patch do |f|

br
= link_to 'Back', bootcamp_path(@bootcamp), class: 'btn btn-default'

