h3 = "Name: #{@bootcamp.name}"
h3 = "Rating: #{@bootcamp.rating}"

/ Pending action
/ = link_to 'Edit', edit_bootcamp_path
br
.btn.btn-default= link_to "Edit", edit_bootcamp_path(@bootcamp)
.btn.btn-default= link_to 'Back to All', bootcamps_path

