@import "base/colors";

.navbar { 
  background: transparent;
  min-height: 70px;
}
.navbar-default .navbar-nav {
  > li > a { color: white; }

  .active > a,
  .active > a:hover,
  .active > a:focus { 
    background: transparent; 
    color: white;
    text-decoration: underline;
  }
}

